.items{
    display: flex;
    padding: 2.5% 2%;
    margin: 1% 0%;
    border: solid 0.1px rgb(221, 220, 220);
    text-align: center;
    background-color: rgb(253, 253, 253);
    transition: 0.15s all;
}

.items:hover{
    background-color: rgb(56, 131, 201);
    color: #fff;
}

.items h2{
    font-size: 14pt;
    width: 20%;
    word-wrap: break-word;
    text-align: center;
}

.items div{
    padding: 0 5%;
    width: 50%;
    word-wrap: break-word;
    text-align: center;
}

.perfil{
    padding: 2.5% 1%; 
}

.perfil img{
    width: 100%;
}

.perfil h2{
    width: 100%;
    text-align: center;
}
